:root {
    --PrimaryColor: linear-gradient(180deg, #141e30, #243b55);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(
      to right,
      hsl(187, 85%, 43%),
      hsl(199, 100%, 33%)
    );
    --whiteColor: #ffffff;
    --blackColor: hsl(201, 33%, 16%);
    --textColor: rgb(97, 97, 97);
    --WhiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 235);
    --headColor: rgb(18, 43, 91);
  }
  
  .InfoContainer {
    display: grid;
    position: relative;
    margin: 4rem 0 0 0;
  }
  
  
  .InfoInfo {
    padding: 0 1rem;
    position: relative;
  }
  
  .InfoInfoHead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .InfoInfoh2 {
    color: var(--headColor);
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
  }
  
  .InfoInfoh2Line {
    display: flex;
    justify-self: center;
    background-color: var(--headColor);
    height: 4px;
    width: 30%;
    margin: 1rem 0;
  }

  .InfoInfoIMGLayout2{
      margin: auto;
  }
  
  .InfoInfoImgLayout2Edit {
      background-repeat: no-repeat;
      background-size: cover;
      height: 260px;
      min-inline-size: -webkit-fill-available;
      background-image: url("../../Assets/image3.jpg");
      margin: auto;
      -webkit-mask: url("../../Assets/layout2.png") 0% 0% / 100% 100%;
  }
  .InfoInfoLayout2Text {
      color: var(--headColor);
      font-size: 2rem;
      margin: auto;
  }
  
  .InfoInfoLayout2Text h3{
    font-size: 1.6rem;
      text-align: center;
      font-weight: 600;
      font-family: revert;
      -webkit-font-smoothing: none;
  }
  .InfoInfoLayout2Text p{
    font-size: 1rem;
    color: var(--textColor);
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
    line-height: 1.6;
  }
  .InfoNextGrid {
    display: grid;
    grid-template-columns: auto;
  }
  .InfoNextGrid h2 {
    text-align: center;
    margin: 0.5rem 0;
  }

  /* form 1 */

  .InfoForm1 {
    display: flex;
    width: 100%;
  }

  .InfoAsset {
    display: flex;
    position: relative;
    display: flex;
    position: relative;
    width: 48rem;
    height: 24rem;
    margin: 4rem 0 0 4rem;
  }


  .accset1 {
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset1.png") ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accset1 h3 {
    margin-left: 4rem;
    color: white;
    font-size: 5rem;
    padding: 1.4rem 0;
  }
  .accset1 p {
    margin-left: 4rem;
    color: snow;
    font-size: 1.4rem;
    margin: 0 4rem;
    line-height: 1.4;
  }
  .accset6 {
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset6.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 12rem;
    height: 12rem;
    top: 6rem;
    left: -4rem;
  }
  .accset7 {
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset7.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;
    width: 6rem;
    left: -2rem;
  }

  /* form 2 */

  .InfoForm2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .InfoAsset2 {
    display: flex;
    position: relative;
    display: flex;
    position: relative;
    width: 48rem;
    height: 24rem;
    margin-right: 4rem;
    top: -6rem;
  }


  .accset2 {
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset2.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .accset2 h3 {
    margin-right: 6rem;
    color: white;
    font-size: 5rem;
    text-align: end;
    padding: 1.4rem 0;
  }
  .accset2 p {
    margin-left: 4rem;
    color: snow;
    font-size: 1.4rem;
    margin: 0 4rem;
    line-height: 1.4;
  }


  /* form 3 */
  .InfoAsset3 {
    display: flex;
    position: relative;
    width: 48rem;
    height: 24rem;
    margin-left: 4rem;
    
  }


  .accset3 {
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset3.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    top: -12rem;
  }
  .accset3 h3 {
    margin-left: 4rem;
    color: white;
    font-size: 5rem;
    padding: 1.4rem 0;
  }
  .accset3 p {
    margin-left: 4rem;
    color: snow;
    font-size: 1.4rem;
    margin: 0 4rem;
    line-height: 1.4;
  }
  
  /* form 4 */
  .InfoAsset4 {
    display: flex;
    position: relative;
    width: 48rem;
    height: 24rem;
    margin-left: 4rem;
    top: -18rem;
  }
  .accset4 {
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset4.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .accset4 h3 {
    margin-right: 6rem;
    color: white;
    font-size: 5rem;
    text-align: end;
    padding: 1.4rem 0;
  }
  .accset4 p {
    margin-left: 4rem;
    color: snow;
    font-size: 1.4rem;
    margin: 0 4rem;
    line-height: 1.4;
  }

  .accset8{
    display: inline;
    position: relative;
    background-image: url("../../Assets/Asset8.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    top: -18rem;
    width: 12rem;
    z-index: 2;
}

/* form 5 */

.InfoAsset5 {
  display: flex;
  position: relative;
  width: 48rem;
  height: 24rem;
  margin-left: 4rem;
  top: -12rem;
}


.accset5 {
  display: inline;
  position: relative;
  background-image: url("../../Assets/Asset5.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  top: -12rem;
}
.accset5 h3 {
  margin-left: 4rem;
  color: white;
  font-size: 5rem;
  padding: 1.4rem 0;
}
.accset5 p {
  margin-left: 4rem;
  color: snow;
  font-size: 1.4rem;
  margin: 0 4rem;
  line-height: 1.4;
}

.accset10 {
  display: inline;
    position: relative;
    background-image: url("../../Assets/Asset9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    top: -26rem;
    width: 24rem;
    z-index: 2;
}











  
  
  
  
  
  
  .colum11 {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  
  .colum21 {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  
  .colum12 {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }
  .colum41 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  
  
  
  
  
  
  .animationRight {
      animation-duration: 2s;
    animation-name: showout;
  }
  
  .animationLeft {
      animation-duration: 2s;
    animation-name: showin;
  }
  
  
  
  @keyframes showin {
    from {
      margin-left: 100%;
      width: 200%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @keyframes showout {
      from {
        margin-right: 100%;
        width: 200%;
      }
    
      to {
        margin-right: 0%;
        width: 100%;
      }
    }


    @media screen and (min-width:1024px){
      .InfoContainer {
        margin: 6rem 0 0 0;
    }
   
  .InfoInfoImgEdit {
    height: 420px;
  }
  .InfoInfoImgLayout2Edit {
    height: 360px;
  }

  }
  
  @media screen and (min-width:1366px){
    .InfoInfoImgLayout2Edit {
      height: 480px;
  }
  .InfoInfoLayout2Text h3 {
    font-size: 2rem;
  }
  .InfoInfoLayout2Text p {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .InfoInfoh2 {
    font-size: 2.6rem;
  }
  }
  