:root {
  --PrimaryColor: linear-gradient(180deg, #141e30, #243b55);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: #ffffff;
  --blackColor: hsl(201, 33%, 16%);
  --textColor: rgb(97, 97, 97);
  --WhiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 235);
  --headColor: rgb(18, 43, 91);
}
.footerContainer {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    background-color: rgb(38, 50, 56);
}

.footerLogo {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
}

.footerLogoBGR {
    width: 24rem;
    height: 14rem;
}

.footerLogoText {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -5.5rem;
    margin: 0 4rem;
}
.footerLogoTextIcon {
    display: flex;
    align-content: center;
    position: relative;
    top: -5.5rem;
    width: 70%;
    margin: auto;
    padding: 0.25rem 1rem;
}

.footerLogoTextH3 {
    color: var(--whiteColor);
    line-height: 1.2;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: inherit;
    text-align: center;
}


.footerSpanIcon {
    display: flex;
    width: 48px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.footerLogoTextp {
    color: var(--whiteColor);
    line-height: 1.2;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: inherit;
    text-align: center;
}
.iconFooter {
    color: white;
    font-size: 2rem;
}

.footerLogoTextp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}
.footerLabel {
    display: flex;
}

.footerLine{
    height: 2px;
    width: 100%;
    background: var(--WhiteColorDream);
    margin: 4rem 0;
}

@media screen and (min-width:1024px){
  .FooterSection {
    grid-template-columns: 1fr 2fr;
  }
  .footerRight {
    display: grid;
    position: relative;
    top: 100px;
    grid-template-columns: 1fr 1fr;
  }
  .footerLogoTextH3 {
    font-size: 1.4rem;
  }
  .footerLabel {
    display: inline-grid;
  }

  }

  @media screen and (max-width:1120px){
    .footerContainer {
      width: 1120px;
  }
  
    }