@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* color and styling */
:root {
  --PrimaryColor: linear-gradient(180deg, #141e30, #243b55);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: #ffffff;
  --blackColor: hsl(201, 33%, 16%);
  --textColor: rgb(97, 97, 97);
  --WhiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 235);
  --headColor:  rgb(18, 43, 91);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}




body {
  background-color: var(--whiteColor);
  -webkit-font-smoothing: antialiased;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center ;
}

